#AddHandler application/x-httpd-php8 .php
RewriteEngine On
RewriteBase /example_member_register/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]